body {
  background: #2D2B2B;
  font-family: Input Sans, Helvetica, sans-serif;;
  color: #4ac4d3;
  font-size: 24px;
  text-align:center;
  -webkit-font-smoothing: auto;
}

a {
  color: #856EC6;
  text-decoration: none;
  border-bottom: 1px solid #856EC6;
}

.description {
  display: inline-block;
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50px;
  color: #dcd7cf;
  text-align: left;
}

.description h1 {
  color: #4ac4d3;
  font-size: 48px;
  font-weight: normal;
}

.description figure {
  width: 100%;
  display: block;
  margin-top: 20px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.description img {
  width: 100%;
}

.description figcaption {
  font-size: 14px;
  color: #aba7a1;
  text-align: center;
  margin-top:10px;
  font-family: sans-serif;
  border-top: 1px solid #181717;
  padding-top: 10px;
}

ol {
  margin-left: 10%;
  font-size: 18px;
}

pre {
  font-size: 18px;
  margin-left: 10%;
}

.footer {
  font-size: 18px;
}

.love {
  color: #62CB67;
}

.happy {
  font-size: 14px;
  color: #aba7a1;
}
