body {
  background: #2D2B2B;
  font-family: Courier;
  color: #4ac4d3;
  font-size: 24px;
  text-align:center;
}

.description {
  display: inline-block;
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50px;
  color: #dcd7cf;
  text-align: left;
}

.description h1 {
  color: #4ac4d3;
  font-size: 48px;
  font-weight: normal;
}
