// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: @elva-beige;
@syntax-cursor-color: @elva-purple;
@syntax-selection-color: @elva-dark-beige;
@syntax-background-color: @elva-background;
@syntax-comment-color: @elva-gray;

// Guide colors
@syntax-wrap-guide-color: @elva-dark-beige;
@syntax-indent-guide-color: @elva-dark-beige;
@syntax-invisible-character-color: lighten(@elva-dark-beige,10%);

// For find and replace markers
@syntax-result-marker-color: @elva-light-green;
@syntax-result-marker-color-selected: @elva-light-orange;

// Gutter colors
@syntax-gutter-text-color: lighten(@elva-dark-beige,25%);
@syntax-gutter-text-color-selected: @elva-purple;
@syntax-gutter-background-color: @elva-background;
@syntax-gutter-background-color-selected: @syntax-selection-color;

// For git diff info. i.e. in the gutter
@syntax-color-renamed: @elva-blue;
@syntax-color-added: @elva-light-green;
@syntax-color-modified: @elva-light-orange;
@syntax-color-removed: @elva-red;

// Theme base colors
@elva-blue: #B5DDFE;
@elva-light-green: #62CB67;
@elva-green: #19AC4A;
@elva-purple: #856EC6;
@elva-light-beige: #F5EFE6;
@elva-beige: #dcd7cf;
@elva-cyan: #4ac4d3;
@elva-dark-beige: #181717;
@elva-light-orange: #f0c674;
@elva-background: #2D2B2B;
@elva-gray: #aba7a1;
@elva-red: #cc6666;
